<div class="container">
    <div class="login-card">
        
        <div class="card text-black">
        <div class="card-header text-center"><h2>Reset Password</h2></div>
        <div class="card-body">
    
          <div class="card-content">
            <form [formGroup]="resetform">

               <div class="form-group">
                <label for="password">Password</label>
                <input [ngClass]="{'danger-box': submitted && (f.password.errors || e?.minlength)}" (keyup)="resetForm()" type="password" class="form-control" formControlName="password" name="password" id="password" autocomplete="off">
                <div *ngIf="submitted && (f.password.errors ||e?.minlength )" class="danger">
                  <medium *ngIf="f.password.errors?.required" >Password is required</medium>
                  <medium *ngIf="f.password.errors.minlength" >Password length must be greater than or equal to Six </medium>
                </div>
               </div>

               <div class="form-group">
                <label for="password">Confirm Password</label>
                <input [ngClass]="{'danger-box': submitted && (f.confirmpassword.errors || e?.notSame)}" (keyup)="resetForm()" type="password" class="form-control" formControlName="confirmpassword" name="confirmpassword" id="confirmpassword" autocomplete="off">
                <div *ngIf="submitted && (f.confirmpassword.errors ||e?.notSame )" class="danger">
                  <medium *ngIf="f.confirmpassword.errors?.required" >Confirm Password is required</medium>
                  <medium *ngIf="e?.notSame" >Confirm Password does not match</medium>
                </div>
               </div>

               <div class="form-group text-center ">
                   <button (click)="formSubmit()" class="btn btn-submit text-white" style="background-color:rgb(29,155,200)">
                     <span>Reset</span>
                   </button>
               </div>
               
            </form>
            <div class="alert alert-danger" *ngIf="submitted && error">
              {{errormsg}}
            </div>
            <div class="alert alert-success" style="background-color: white;" *ngIf="submitted && success">
              {{successmsg}}
            </div>
          </div>
          
          
        </div>
      </div>
    </div>
</div>
